.body {
  background-color: rgb(67, 91, 141);
}

.center-elements {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.top-margin {
  margin-top: 100px;
}

.left-margin {
  margin-left: 50px;
}

.right-margin {
  margin-right: 40px;
}

.font-size {
  font-size: large;
}
